@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: sans-serif;
}
.btn-primary{
    position:relative;
    transition: transform 0.3s ease;
}
.btn-primary:hover{
    transform:translateY(-3px);
}

/* card service */
.card-service{
    position:relative;
    transition:transform 0.3s ease; 
}
.card-service:hover{
    transform: translate(-5px);
}
.grayscale{
    filter: grascale(100%);
    transition: filter 0.3s ease;
}
.grayscale{
    filter:none
}
.owl-nav span{
display: none;
}


.owl-nav span{
    margin-top:20px;
}

.owl-carousel .owl-item img{
    width : 50px !important;
}

.owl-carousel .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: ;
}






